body {
  font-family: Roboto, arial, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 15px;
}

h1 {
  color: rgb(32, 33, 36);
  font-size: 40px;
  height: 40px;
  vertical-align: top;
  width: 326px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
#icon {
  height: 100px;
  width: 100px;
}
.current-details {
  color: rgb(112, 117, 122);
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  padding-left: 10px;
  line-height: 20px;
  list-style: none;
}
.weather-details {
  color: rgb(112, 117, 122);
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  text-align: right;
  list-style: none;
}

#currentTemp {
  font-size: 70px;
  font-weight: 400px;
  top: px;
}
.temp-type {
  position: relative;
  font-size: 16px;
  top: -40px;
}
#search {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 10px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 45px;
  line-height: 20px;
  width: 400px;
}
.search-button {
  background: #885df1;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 45px;
  line-height: 20px;
  width: 75px;
  display: inline-block;
}
#codeLink {
  margin: 0 auto;
  text-align: center;
}
