body {
  font-family: "PT Mono", monospace;
  background-color: #c7f5fe;
}
.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
  border: 4px solid #f3f798;
  border-radius: 15px;
  background-color: #fcc8f8;
  box-shadow: rgb(136, 93, 241) 0px 2px 45px 1px;
}

h1 {
  color: #9b45e4;
  font-size: 45px;
  vertical-align: top;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

img {
  height: 120px;
  width: 120px;
}

.current-details {
  color: #f3f798;
  display: inline-block;
  font-size: 23px;
  font-weight: 400;
  margin: 10px 0px;
  padding-left: 10px;
  line-height: 30px;
  list-style: none;
}
.weather-details {
  color: #fc00a3;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0px;
  padding-left: 10px;
  line-height: 30px;
  list-style: none;
  text-align: right;
}

#currentTemp {
  font-size: 65px;
  font-weight: 400px;
  color: #fc00a3;
  position: relative;
  top: 10px;
}
.temp-type {
  position: relative;
  font-size: 15px;
  top: -40px;
  text-decoration: none;
}

#fahrenheit {
  font-size: 20px;
  text-decoration: none;
  color: #9b45e4;
}
#fahrenheit:hover {
  color: #f3f798;
}
#celsius {
  text-decoration: none;
  color: #9b45e4;
}
#celsius:hover {
  color: #f3f798;
}
#search {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
  height: 45px;
  line-height: 20px;
  width: 450px;
}
#search:hover {
  border: 2px solid #fc00a3;
}
.search-button {
  background: #885df1;
  color: #f3f798;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 45px;
  line-height: 20px;
  width: 90px;
  display: inline-block;
}
.search-button:hover {
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.col-2 {
  width: 85px;
  margin: 0 auto;
}
.forecast-temp-max {
  font-size: 18px;
}
.forecast-temp-min {
  font-size: 16px;
  opacity: 0.6;
}

#codeLink {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
